body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.count,
.count_ped,
.count_bike,
.count_motor {
    font-weight: 800;
}

.sidebar {
    position: absolute;
    width: 400px;
    z-index: 10;
    background: #d2d2d2;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: sans-serif
}

.title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom:8px;
}

.description {
   font-size: 14px;
   margin-bottom: 10px;
}

#legend {
    padding: 5px;
    /* line-height: 14px; */
    font-size: 14px;
}


.legend-key {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    opacity: 60%;
}


.button{
    margin-bottom: 5px;
    border: 1px solid #12719e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #12719e;
}

.type-buttons button{
    width: 32.25%;
}

.all-button button{
    width: 100%;
}

.selected {
    background-color: #12719e;
    color: white;
}

h2 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    margin: 5px;
}

.legend-box {
    border: 1px solid black;
    border-radius: 5px;
}

.subhead {
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border-top: 1px solid black;
    height: 0px;
}